@model IEnumerable<CoffeeManagementSystem.Entities.Models.Product>
@{
    Layout = "_Home";
    ViewData["Title"] = "Home Page";
}

<!-- start banner Area -->
<section class="banner-area" id="home">
	<div class="container">
		<div class="row fullscreen d-flex align-items-center justify-content-start">
			<div class="banner-content col-lg-7">
				<h6 class="text-white text-uppercase">Now you can feel the Energy</h6>
				<h1>
					Start your day with <br>
					a black Coffee
				</h1>
				<a href="/" class="primary-btn text-uppercase">Buy Now</a>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->
<!-- Start video-sec Area -->
<section class="video-sec-area pt-100 mt-5" id="about">
	<div class="container">
		<div class="row justify-content-start align-items-center">
			<div class="col-lg-6 video-right justify-content-center align-items-center d-flex">
				<div class="overlay overlay-bg"></div>
				<a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid" src="~/theme/img/play-icon.png" alt=""></a>
			</div>
			<div class="col-lg-6 video-left">
				<h6>Live Coffee making process.</h6>
				<h1>
					We Telecast our <br>
					Coffee Making Live
				</h1>
				<p><span>We are here to listen from you deliver exellence</span></p>
				<p>
					At our coffee shop, we believe that coffee is more than just a drink – it’s an experience. Every cup we serve is crafted with passion, precision, and dedication to quality. We carefully select the finest beans and brew them using techniques that bring out the richest flavors. Whether you're enjoying a cup at our shop or watching our live process, we want you to feel connected to the artistry and care that goes into every coffee we make.
				</p>
				<br />
			</div>
		</div>
	</div>
</section>
<br />
<!-- End video-sec Area -->

<!-- Start menu Area -->
<section class="menu-area section-gap" id="coffee">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-10">
				<div class="title text-center">
					<h1 class="mb-10">What kind of Coffee we serve for you</h1>
					<p>Who are in extremely love with eco friendly system.</p>
				</div>
			</div>
		</div>
		<div class="row">
			@foreach (var item in Model.Skip(Math.Max(0, Model.Count() - 10)))
			{
				<div class="col-lg-4">
					<div class="single-menu">
						<div class="title-div justify-content-between d-flex">
							<h4>@item.ProductName</h4>
							<p class="price float-right">
								$@item.Price
							</p>
						</div>
						<p>
							@item.Description
						</p>
						<div class="text-center">
							<a class="genric-btn primary-border circle arrow" asp-action="Details" asp-controller="Show" asp-route-id="@item.ProductId">Details <span class="lnr lnr-arrow-right"></span></a>
							</div>
						
                    </div>
                </div>
				
			}
		</div>
	</div>
</section>
<!-- End menu Area -->
<!-- Start gallery Area -->
<section class="gallery-area section-gap" id="gallery">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-10">
				<div class="title text-center">
					<h1 class="mb-10">What kind of Coffee we serve for you</h1>
					<p>Who are in extremely love with eco friendly system.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<a href="~/theme/img/g1.jpg" class="img-pop-home">
					<img class="img-fluid" src="~/theme/img/g1.jpg" alt="">
				</a>
				<a href="~/theme/img/g2.jpg" class="img-pop-home">
					<img class="img-fluid" src="~/theme/img/g2.jpg" alt="">
				</a>
			</div>
			<div class="col-lg-8">
				<a href="~/theme/img/g3.jpg" class="img-pop-home">
					<img class="img-fluid" src="~/theme/img/g3.jpg" alt="">
				</a>
				<div class="row">
					<div class="col-lg-6">
						<a href="~/theme/img/g4.jpg" class="img-pop-home">
							<img class="img-fluid" src="~/theme/img/g4.jpg" alt="">
						</a>
					</div>
					<div class="col-lg-6">
						<a href="~/theme/img/g5.jpg" class="img-pop-home">
							<img class="img-fluid" src="~/theme/img/g5.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End gallery Area -->
<!-- Start review Area -->
<section class="review-area section-gap" id="review">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-10">
				<div class="title text-center">
					<h1 class="mb-10">What kind of Coffee we serve for you</h1>
					<p>Who are in extremely love with eco friendly system.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 single-review">
				<img src="~/theme/img/r1.png" alt="">
				<div class="title d-flex flex-row">
					<h4>lorem ipusm</h4>
					<div class="star">
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
					</div>
				</div>
				<p>
					Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
				</p>
			</div>
			<div class="col-lg-6 col-md-6 single-review">
				<img src="~/theme/img/r2.png" alt="">
				<div class="title d-flex flex-row">
					<h4>lorem ipusm</h4>
					<div class="star">
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
					</div>
				</div>
				<p>
					Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
				</p>
			</div>
		</div>
		<div class="row counter-row">
			<div class="col-lg-3 col-md-6 single-counter">
				<h1 class="counter">2536</h1>
				<p>Happy Client</p>
			</div>
			<div class="col-lg-3 col-md-6 single-counter">
				<h1 class="counter">7562</h1>
				<p>Total Projects</p>
			</div>
			<div class="col-lg-3 col-md-6 single-counter">
				<h1 class="counter">2013</h1>
				<p>Cups Coffee</p>
			</div>
			<div class="col-lg-3 col-md-6 single-counter">
				<h1 class="counter">10536</h1>
				<p>Total Submitted</p>
			</div>
		</div>
	</div>
</section>
<!-- End review Area -->
<!-- Start blog Area -->
<section class="blog-area section-gap" id="blog">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-10">
				<div class="title text-center">
					<h1 class="mb-10">What kind of Coffee we serve for you</h1>
					<p>Who are in extremely love with eco friendly system.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 single-blog">
				<img class="img-fluid" src="~/theme/img/b1.jpg" alt="">
				<ul class="post-tags">
					<li><a href="#">Travel</a></li>
					<li><a href="#">Life Style</a></li>
				</ul>
				<a href="#"><h4>Portable latest Fashion for young women</h4></a>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore.
				</p>
				<p class="post-date">
					31st January, 2018
				</p>
			</div>
			<div class="col-lg-6 col-md-6 single-blog">
				<img class="img-fluid" src="~/theme/img/b2.jpg" alt="">
				<ul class="post-tags">
					<li><a href="#">Travel</a></li>
					<li><a href="#">Life Style</a></li>
				</ul>
				<a href="#"><h4>Portable latest Fashion for young women</h4></a>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore.
				</p>
				<p class="post-date">
					31st January, 2018
				</p>
			</div>
		</div>
	</div>
</section>
<!-- End blog Area -->