
@{
    Layout = null;
    ViewData["Title"] = "Not Found Page";
}
<style >
    * {
        margin: 0;
    }
    .error {
        display: flex ;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: 50px;
        font-weight: bold;
        color: white;
        background-color: #1a1919;
    }
</style>
<div class="error">
    <div>
        404 Not Found
    </div>
   
</div>
