@model CoffeeManagementSystem.Entities.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* name *@
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            @* CategoryId *@
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" asp-items="@(new SelectList(Model.categoryList, "CategoryId", "CategoryName"))" class="form-control">
                    <option value="">--Select a category--</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            @* SupplierId *@
            <div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" asp-items="@(new SelectList(Model.supplierList, "SupplierId", "SupplierName"))" class="form-control">
                    <option value="">--Select a Supplier--</option>
                </select>
            </div>
            @* StockQuantity *@
            <div class="form-group">
                <label asp-for="StockQuantity" class="control-label"></label>
                <input asp-for="StockQuantity" class="form-control" />
                <span asp-validation-for="StockQuantity" class="text-danger"></span>
            </div> 
            @* Price *@
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            @* Description *@
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @* ImageFile *@
            <div class="form-group">
                <label asp-for="@Model.ImageFile" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="@Model.ImageFile" class="form-control" onchange="loadFile(event)" />
                </div>
            </div>


            <div class="col-md-3">
                <img id="output" style="width:100%" />
            </div>



            <div class="form-group float-end">
                <input type="submit" value="Save" class="btn btn-primary me-1" />
                <a asp-action="Index" class="float-end btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        debugger
        var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src)
            }
        };
    </script>
}