 @{
    ViewData["Title"] = "Contact Us";
    Layout = "_Home"; 
}

<section class="generic-banner relative">
	<div class="container">
		<div class="row height align-items-center justify-content-center">
			<div class="col-lg-10">
				<div class="generic-banner-content">
					<h2 class="text-white">Contact Us Page</h2>
					<p class="text-white">
						If you have any questions, feedback, or inquiries, feel free to reach out to us using the form below or through our contact information.
					</p>

				</div>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->


<div class="container mt-5">
 
  <div class="col-lg-12 col-md-12">
		<h3 class="mb-30">Contact Us </h3>
		<form >
									<div class="mt-10">
										<input type="text" name="first_name" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required="" class="single-input">
									</div>
									<div class="mt-10">
										<input type="text" name="last_name" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required="" class="single-input">
									</div>
									<div class="mt-10">
										<input type="email" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required="" class="single-input">
									</div>
									<div class="input-group-icon mt-10">
										<div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
										<input type="text" name="address" placeholder="Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address'" required="" class="single-input">
									</div>			
									<div class="mt-10">
										<textarea class="single-textarea" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" required=""></textarea>
									</div>			
								</form>
		<a href="/" class="genric-btn success mt-5">Success</a>
	</div>
</div>
 